#parent{

  box-sizing: border-box;
  background-color: white;
  height: 540px;
  width: 85%;
  margin-left: 100px;
  margin-top:50px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  
}


/* Placeholder Effects */

::placeholder{
  position: absolute; 
  left: 0.7rem;
  top: 0.5rem;
  color: #a5b5cf;
  font-size: 15px;
  transition: top 0.2s,left 0.2s;
    
}


input[type="text"]:focus::-webkit-input-placeholder{
  position: absolute;
  left: 0.4rem;
  top: 0rem;
  color: #a5b5cf;
  font-size: 10px;
}



img{
  margin-top: 25px;
}


/* Responsiveness */

@media only screen and (max-width: 780px){

  #parent{
    display: flex;
    width: 100%;
    margin-left: 10px;
  }
  #child1{
    display: none;
  }
  #grandchild{
    margin-left: 10px;
  }
  
  
}