/* Before hovering Effects*/

#grandchild{
    background-color: #061020;
    height: 450px;
    width: 87%;
    margin: 40px;
    border-radius: 15px;
    
  }
  
  
  #grandchild>h2{
    color: white;
    text-align: center;
    padding-top: 60px;
    
  } 
  
  
  input[type='text']{
  
    height: 46px;
    width: 60%;
    margin: 30px 0px 0px 100px;
    background-color: #E7E3F3;
    border-radius: 5px;
    padding: 8px;
    color: #061020;
    font-size: 14px;
    
  
  }
  
  
  input[type='button']{
    height: 35px;
    width: 20%;
    background-color: white;
    border-radius: 5px;
    color: #061020;
    margin: 30px 0px 0px 200px;
    font-size: large;
  }
  
  #grandchild>p{
    margin-left: 120px;
    color: white;
  }

  /* After Hovering Effects */
  
  
  #grandchild-copy{
    background-color: #f8fbff;
    height: 450px;
    width: 87%;
    margin: 40px;
    border-radius: 15px;
    border:5px solid #061020;
    
  }
  
  
  #grandchild-copy>h2{
    color:#061020;
    text-align: center;
    padding-top: 50px;
    margin-top: -20px;
    
  } 
  
  #grandchild-copy>input[type='text']{
  
    height: 46px;
    width: 60%;
    margin: 30px 0px 0px 100px;
    background-color: #E7E3F3;
    border-radius: 5px;
    padding: 8px;
    border:3px solid #061020;
    font-size: 14px;
  }
  
  
  #grandchild-copy>input[type='button']{
    height: 35px;
    width: 20%;
    background-color: #061020;
    border-radius: 5px;
    color: #ffffff;
    margin: 30px 0px 0px 200px;
    font-size: large;
  }
  
  #grandchild-copy>p{
    margin-left: 120px;
    color: #061020;
  }
  
  button{
    background-color: #061020;
    height: 30px;
    width: 70px;
    color: white;
    border: 2px solid #061020;
  }  
